<!doctype HTML>

<html>

  <head>
    
  <link class="tofT" rel="shortcut icon" href="/src/img/vf.png" type="image/png">
    <title> GNOUMAN-MS ALL-SHOP </title>
    <meta name="viewport" content="width=device-width, initial-scale=1; user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="DE">
    <link rel="stylesheet" type="text/css" href="/public/CSS/index.home.css">
    <!-- <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"> -->
    <!-- <script src="/lib/angular/angular.min.js"></script> -->
    <!-- <script src="/src/ang/index.angu.js"></script> -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/public/JS/indexhome.query.js"></script>

  </head>
  <!--  DEBUT DU BODY -->
  <body id="BoDy" ng-app="indexMain">
    <fieldset id="fieldHeader">
      <label class="labTitr"> GNOUMAN-MS </label>
  <!--  definition de la DIV MenuBar -->
      <div id="header">
      <ul>
  
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Nouveaute</a></li>
      </ul>
    </div>  
    </fieldset>
<!--- ############################################################# -->

<fieldset id="fieldBody">
  <p id="headImg">
    <img class="img0" src="/source/image/image/connect_connection.png" width="950px" height="450px">
    <span class="overPic">GNOUMAN - MS SHOP INTERFACE </span><br>
    <span class="overPic1">
      Votre Online SHOP plus pres de vous que jamais <br>
      pour vos achats pres et ventes en ligne.
    </span>
  </p>
  <br>
  <p id="imgDoc">
    <img id="img1" class="img1" src="/source/image/vente/StimulateurMusculaire.png" width="400px" height="400px">
    <div class="imgInfo">
      <ul>
        <li class="detail"> SIMULATEUR - MUSCULAIRE </li>
        <li>
          Stimulateur musculaire électrique ems sans fil, <br>
          fesses hanche formateur abdominaux ABS stimulateur <br>
          Fitness corps minceur masseur
        </li>
      </ul>
    </div>
    <br><br><br>

<!-- ********************************************************************* -->
      <div id="souImag0">
        <ul>
          <li>
            <a href="#"><img id="img11" class="img11" src="/source/image/vente/20200507_125644.jpg" width="100px" height="100px"></a>
          </li>
          <li>
            <a href="#"><img class="img2" src="/source/image/vente/20200507_125835.jpg" width="100px" height="100px"></a>
          </li>
          <li>
            <a href="#"><img id="img11" class="img11" src="/source/image/vente/20200507_125607.jpg" width="100px" height="100px"></a>
          </li>
          <li>
            <a href="#"><img class="img2" src="/source/image/vente/20200507_125746.jpg" width="100px" height="100px"></a>
          </li>
        </ul>
      </div>
<!-- *********************************************************************** -->
  </p>
</fieldset>
  </body>
</html>

        <!-- 
        <li><span>Marke: </span>MERCEDES </li>
        <li><span>Modell: </span>CLK 500</li>
        <li><span>Erstzulassung: </span>Annee 2010</li>
        <li><span>Kraftstoffart: </span>Benzine </li>
        <li><span>Leistung: </span> 190 PS </li>
        <li><span>Getriebe: </span>Manuelle </li>
        <li><span>Fahrzeugtyp: </span>Limosine </li>
        <li><span>Anzahl Türen: </span> 4 / 5 </li>
        <li><span>Umweltplakette: </span> Euro 4 (Grun) </li>
      -->