<!doctype HTML>
<html>

  <head></head>
  <body>
  	<div id="bodyCorps">
  		<!-- declaration de la partie contenant la premiere en-tete firstDiv-->
  		<div>
  			<ul>
  				<li>first</li>
  				<li>second</li>
  			</ul>
  		</div>
      <!-- ################################################################  -->
  	</div>
  </body>
</html>