<!doctype HTML>

<html>

  <head>
    <!-- Script de mon google analitics -->
<!-- ###################################################################### -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172668703-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    gtag('config', 'UA-172668703-1');
  </script>
<!-- ######################################################################################### -->
    <link class="tofT" rel="shortcut icon" href="/src/img/vf.png" type="image/png">
    <title> S - A - S </title>
    <meta name="viewport" content="width=device-width, initial-scale=1; user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="DE">
    <!-- <link rel="stylesheet" type="text/css" href="/public/CSS/wagen.index.css"> -->
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <!-- <script src="/lib/angular/angular.min.js"></script> -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <!-- <script src="/public/JS/query/wagen.index.js"></script> -->
    <script src="/public/JS/query/mozilar.css.js"></script>
    <!-- <script src="/public/CSS/browser.css.js"></script> -->

<!-- ######################################################################################### -->
  </head>
  <!--  DEBUT DU BODY -->
  <body id="BoDy" ng-app="indexMain">
  <fieldset id="fieldsetBody">
    <div id="fieldHeader">
      <label id="labTitr" class="labTitr">SYLLA ALL SERVICE </label><br>
      <img class="mLogo" src="/source/image/mLogo/saslogo3.jpg" width="1500px" height="1500px"><br><br>
  <!--  definition de la DIV MenuBar -->
      <div id="header">
      <ul>
  
        <li id="headerl1"><a href="#">GUIDE-D'ACHAT</a></li>
        <li id="headerl2"><a href="#">ACHATS</a></li>
        <li id="headerl3"><a href="#">COMMANDES</a></li>
        <li id="headerl4"><a href="#">CONTACT</a></li>
        <li id="headerl5"><a href="#">NOS-SERVICE</a></li>
      </ul>
    </div>
<!--    definition du fileset des stock actuel-->
    <br><br>
    </div>
       <p id="pInfo" class="pInfo">
        
            Avez vous besoin de véhicule de luxe, pièces détachées neuve ou d'occasion ?<br>
            Besoin d'importer ou exporter vos marchandises de l'Afrique vers L'Europe ou vis-versa ?<br>
            <b>SYLLA ALL SERVICE</b> vous offre plusieurs possibilités grâce à nos différents partenaires de par le monde et <br>en toute confiance et sécurité.
            <br><br>
            Pour ne manquer aucune information concernant nos produits tel que : 
            <br>réductions, promotion, Nouveauté ! <b>Abonnez-vous vite</b> sur nos différentes plateformes.

       </p>
       <br>
       <div id="reseauSociaux">
        <ul>
          <li id="reseauSLi1"><a href="#">Facebook</a></li>
          <li id="reseauSLi2"><a href="#">Instagram</a></li>
          <li id="reseauSLi3"><a href="#">Youtube</a></li>
        </ul>
       </div>
       <p id="login">
          <label id="loglab1" class="loglab1"><a href="#">S'abonnez</a></label>
          <label id="loglab2" class="loglab2"><a href="#">Connexion  </a></label>
       </p>
       <br>
    <!-- RESEAUX SOCIAUX -->

    <br>
<!--- ############################################################# -->

<!--- ##############################     AUTOMOBILE     ############################### -->
<LABEL class="labelTitr0">Véhicule Neuve</LABEL><br><br>
<fieldset id="autoField">
  
  <div id="autoDiv">
    <ul id="autoDivUl1">
      <li id="autoImg0">
        <label class="divAutoPreis1"><b>Mercedes E-350 3.0L v8 Motor</b></label><br><br>
        <a id="autoA0" class="autoA0" href="#">
          <img id="Aimg0" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <label class="divAutoPreis1"><b>3000 €</b></label><br>
        <b class="divAutoDetail1"><a href="#">Voir detail</a></b>
      </li>
    </ul>
    <ul class="autoDivUl2">
      <li id="autoImg1">
        <label class="divAutoPreis2"><b>Mercedes E-350 3.0L v8 Motor</b></label><br><br>
        <a id="autoA0" class="autoA0" href="#">
          <img id="Aimg0" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <label class="divAutoPreis2"><b>3000 €</b></label><br>
        <b class="divAutoDetail2"><a href="#">Voir detail</a></b>
      </li>
    </ul>

    <ul id="autoDivUl3">
      <li id="autoImg2">
        <label class="divAutoPreis3"><b>Mercedes E-350 3.0L v8 Motor</b></label><br><br>
        <a id="autoA0" class="autoA0" href="#">
          <img id="Aimg0" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <label class="divAutoPreis3"><b>3000 €</b></label><br>
        <b class="divAutoDetail3"><a href="#">Voir detail</a></b>
      </li>
    </ul>
  </div>
</fieldset>
<br>

<!--- ############################## FIN    AUTOMOBILE     ############################### -->




<!--- ##############################     AUTOMOBILE     ############################### -->
<LABEL class="labelTitr1">Véhicule D'occasion</LABEL><br><br>
<fieldset id="autoField1">
  
  <div id="autoDiv1">
    <ul id="autoDivUll1">
      <li id="autoImg00">
        <label class="divAutoPreis11"><b>Mercedes E-350 3.0L v8 Motor</b></label><br>
        <a id="autoA0" class="autoA0" href="#">
          <img id="Aimg0" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <label class="divAutoPreis11"><b>3000 €</b></label>
        <b class="divAutoDetail11"><a href="#">Voir detail</a></b>
      </li>
    </ul>

    <ul id="autoDivUll2">
      <li id="autoImg11">
        <label class="divAutoPreis22">Mercedes E-350 3.0L v8 Motor</label><br>
        <a id="autoA0" class="autoA0" href="#">
          <img id="Aimg0" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <label class="divAutoPreis22"><b>3000 €</b></label>
        <b class="divAutoDetaill2"><a href="#">Voir detail</a></b>
      </li>
    </ul>
    

    <ul id="autoDivUll3">
      <li id="autoImg22">
        <a id="autoA2" class="autoA2" href="#">
          <img id="Aimg2" src="/source/image/cars/Mercedes/mercedes-e350/20200511_090423.jpg" height="200px" width="300px">
        </a><br>
        <b><i>Schortens</i></b><br>
        <label>Mercedes E-350 3.0L v8 Motor</label><br>
        <label><b>3000 €</b></label><br>
        <b><a href="#">Detail</a></b>
      </li>
    </ul>
  </div>
</fieldset>
<br>

<!--- ############################## FIN    AUTOMOBILE     ############################### -->


<!--
<span id="picTitle">EN STOCK </span>
  <fieldset id="fieldsetBody">
    <div id="imgDoc">
    <ul>
      <label>
        Mercedes E 350 CGI coupe Blue Efficiency <br>7G-Tronic Elegance
        <a class="a1" href="#">Detail</a>
      </label>
      <li class="l1">
          <a href="#">
            <img id="img1" class="img1" src="/source/image/VOITURE/LogoMaker/20200628_235336.png" width="295px" height="210px">
          </a>
          <marquee direction="left">17.990 euro All inclusive</marquee>
      </li>

      <label>Renault Magnum 480 DXi Retarder 2 Tanks EEV <a class="a1" href="#">Detail</a></label>
      <li class="l2">
          <a href="#">
            <img id="img1" class="img1" src="/source/image/VOITURE/LogoMaker/20200630_164222.png" width="295px" height="210px">
          </a>
          <marquee direction="right">17.805 euro All inclusive</marquee>
      </li>

      <label>BMW X3 DRIVE 2.0 Diesel <a class="a1" href="#">Detail</a></label>
      <li class="l2">
          <a href="#">
            <img id="img1" class="img1" src="/source/image/VOITURE/LogoMaker/20200630_162922.png" width="295px" height="210px">
          </a>
          <marquee direction="left">13.995 euro All inclusive</marquee>
      </li>

      <label>AUDI Q3 2.0 TDI S-Line Bi-Xenon LED Panorama Leder <a class="a1" href="#">Detail</a></label>
      <li class="l2">
          <a href="#">
            <img id="img1" class="img1" src="/source/image/VOITURE/Audi/Q3_1/20200708_193820.png" width="295px" height="210px">
          </a>
          <marquee direction="left">18.345euro All inclusive</marquee>
      </li>
    </ul>
  </div>    
  </fieldset>

 ********************************************************************* 
<p id="pTest">
  Depuis la création en 2019, A_&_B - C.Service s’est imposée comme un des leaders européens dans la vente de vehicule et de pièces auto, en proposant plusieurs choix de produits a des prix imbatable.<br><br>

  Grâce aux efforts fournis pour garantir un excellent service, rapide fiable et de qualité, nous avons à ce jour pu satisfaire les exigences de plusieurs million de clients, partout dans le monde.<br><br>

  La priorité de nos clients est une préoccupation importante de notre vision entrepreneuriale et la satisfaction de leurs souhaits en toute confiance.<br>
  <b>A_&_B - C.Service<br>la satisfaction d'un travail bien établi</b>
</p><br>

*********************************************************************** 
  </p><br><br>
 explication des condition d'utulisation et general
</fieldset>
-->

<!--########################################################################
   Creation de div 
########################################################################-->
<fieldset>
  <div id="divBody">
    <div>  <!-- DEBUT DE LA 1er DIV ds la DIV-->
      <label></label>
    </div> <!-- FIN DE LA 1er DIV ds la DIV-->
    <div></div>
  </div>
</fieldset>
<!--########################################################################
   FIN DE LA CREATION DE DIV EXPLICATION ET AUTRES  
########################################################################-->
<div id="pConfidentialite">
  <ul>
    <li>Conditions générales de ventes</li>
    <li>Politique de confidentialité</li>
    <li>Imprimer</li>
    <li>mailer@mail.com</li>
  </ul>
</div>

  </fieldset>
  </body>
</html>


<!--
        <li><span>Marke: </span>MERCEDES </li>
        <li><span>Modell: </span>CLK 500</li>
        <li><span>Erstzulassung: </span>Annee 2010</li>
        <li><span>Kraftstoffart: </span>Benzine </li>
        <li><span>Leistung: </span> 190 PS </li>
        <li><span>Getriebe: </span>Manuelle </li>
        <li><span>Fahrzeugtyp: </span>Limosine </li>
        <li><span>Anzahl Türen: </span> 4 / 5 </li>
        <li><span>Umweltplakette: </span> Euro 4 (Grun) </li>


              <label>Mercedes E220 CDI <a href="#">Detail</a></label>
      <li class="l1">
        <marquee>
          <a href="#">
            <img id="img1" class="img1" src="/source/image/cars/1.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/cars/3.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/cars/8.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/cars/9.jpg" width="280px" height="200px">
          </a>
        </marquee>
      </li>
      <label>Mercedes E220 CDI <a href="#">Detail</a></label>
      <li class="l1">
        <marquee>
          <a href="#">
            <img id="img1" class="img1" src="/source/image/voiture/mercedes/mercedes-e350/20200511_090423.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/voiture/mercedes/mercedes-e350/20200511_114145.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/voiture/mercedes/mercedes-e350/20200511_114046.jpg" width="280px" height="200px">
            <img id="img1" class="img1" src="/source/image/voiture/mercedes/mercedes-e350/20200511_114003.jpg" width="280px" height="200px">
          </a>
        </marquee>
      -->